
@{
    ViewBag.Title = "PaySuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="text-align:center">
    <h2>Mua hàng thành công</h2>
    <h4>Đơn hàng của bạn đã được gửi đến cửa hàng</h4>
    <a class="btn btn-success" href="@Url.Action("Index", "Home")">Tiếp tục mua hàng</a>
</body>

